<a href="https://colab.research.google.com/github/salehafzoon/Data-Science/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Show installed versions

> update to last version

> pandas version

> all dependencies versions

In [ ]:
!pip install --upgrade pandas

In [ ]:
import pandas as pd
import numpy as np
pd.__version__

'1.2.4'

In [ ]:
pd.show_versions()

# Create

> from CSV

> from Dictionary

>randomly

In [ ]:

print("pandas version:",pd.__version__)

url = "https://www.stats.govt.nz/assets/Uploads/Tools/CSV-files-for-download/analysis-public-place-assaults-sexual-assaults-and-robberies-2015-csv.csv"
df = pd.read_csv(url)

In [ ]:
tempdict = {'col1':[1,2,3], 'col2':[4,5,6]}
df2 = pd.DataFrame.from_dict(tempdict)
df2

In [ ]:
df3=pd.DataFrame(np.random.rand(4,8), columns = list('abCDEFGH'))
df3

          a         b         C  ...         F         G         H
0  0.475099  0.264292  0.037506  ...  0.929411  0.445329  0.111164
1  0.603878  0.278447  0.569788  ...  0.592064  0.680034  0.582279
2  0.512776  0.657998  0.016967  ...  0.038533  0.068783  0.806877
3  0.799110  0.557030  0.005385  ...  0.408375  0.478540  0.368358

[4 rows x 8 columns]

# Rename

In [ ]:
df3.rename({'a':'A','b':'B'} , axis = 'columns')

          A         B         C  ...         F         G         H
0  0.475099  0.264292  0.037506  ...  0.929411  0.445329  0.111164
1  0.603878  0.278447  0.569788  ...  0.592064  0.680034  0.582279
2  0.512776  0.657998  0.016967  ...  0.038533  0.068783  0.806877
3  0.799110  0.557030  0.005385  ...  0.408375  0.478540  0.368358

[4 rows x 8 columns]

In [ ]:
df3.columns = ['v1','v2','v3','v4','v5','v6','v7','v8']

df3.columns = df3.columns.str.replace('v','')

df3 = df3.add_prefix('col_')
df3 = df3.add_suffix('_x')
df3

    col_1_x   col_2_x   col_3_x  ...   col_6_x   col_7_x   col_8_x
0  0.475099  0.264292  0.037506  ...  0.929411  0.445329  0.111164
1  0.603878  0.278447  0.569788  ...  0.592064  0.680034  0.582279
2  0.512776  0.657998  0.016967  ...  0.038533  0.068783  0.806877
3  0.799110  0.557030  0.005385  ...  0.408375  0.478540  0.368358

[4 rows x 8 columns]


# Reverse order


> row order

> column order

In [ ]:
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/drinks.csv')

In [ ]:
drinks.loc[::-1].reset_index(drop=True).head()

     country  beer_servings  ...  total_litres_of_pure_alcohol      continent
0   Zimbabwe             64  ...                           4.7         Africa
1     Zambia             32  ...                           2.5         Africa
2      Yemen              6  ...                           0.1           Asia
3    Vietnam            111  ...                           2.0           Asia
4  Venezuela            333  ...                           7.7  South America

[5 rows x 6 columns]

In [ ]:
drinks.loc[:,::-1].head()

  continent  total_litres_of_pure_alcohol  ...  beer_servings      country
0      Asia                           0.0  ...              0  Afghanistan
1    Europe                           4.9  ...             89      Albania
2    Africa                           0.7  ...             25      Algeria
3    Europe                          12.4  ...            245      Andorra
4    Africa                           5.9  ...            217       Angola

[5 rows x 6 columns]

# Select by data type

# Read

> show top,bottom 3 rows


> show columns , data types

In [ ]:
df.head(3)

   Index  Area_unit_2013_code  ... Region_2013_code  Region_2013_label
0      1               514102  ...                2    Auckland Region
1      2               573101  ...                9  Wellington Region
2      3               529700  ...                3     Waikato Region

[3 rows x 14 columns]

In [ ]:
df.tail(3)

      Index  Area_unit_2013_code  ... Region_2013_code     Region_2013_label
2017   2018               536513  ...                4  Bay of Plenty Region
2018   2019               574302  ...                9     Wellington Region
2019   2020               527007  ...                3        Waikato Region

[3 rows x 14 columns]

In [ ]:
df.columns

Index(['Index', 'Area_unit_2013_code', 'Area_unit_2013_label',
       'Victimisations_calendar_year_2015', 'Population_mid_point_2015',
       ' Rate_per_10000_population ', ' Rate_ratio_NZ_average_rate ',
       'Urban_area_2013_code', 'Urban_area_2013_label', 'Urban_area_type',
       'Territorial_authority_area_2013_code',
       'Territorial_authority_area_2013_label', 'Region_2013_code',
       'Region_2013_label'],
      dtype='object')

In [ ]:
df.dtypes

Index                                     int64
Area_unit_2013_code                       int64
Area_unit_2013_label                     object
Victimisations_calendar_year_2015         int64
Population_mid_point_2015                 int64
 Rate_per_10000_population               object
 Rate_ratio_NZ_average_rate              object
Urban_area_2013_code                      int64
Urban_area_2013_label                    object
Urban_area_type                          object
Territorial_authority_area_2013_code      int64
Territorial_authority_area_2013_label    object
Region_2013_code                          int64
Region_2013_label                        object
dtype: object

# Summary Statistics

In [ ]:
df.describe()

             Index  ...  Region_2013_code
count  2020.000000  ...       2020.000000
mean   1010.500000  ...          8.205941
std     583.268092  ...         10.171251
min       1.000000  ...          1.000000
25%     505.750000  ...          2.000000
50%    1010.500000  ...          7.000000
75%    1515.250000  ...         13.000000
max    2020.000000  ...         99.000000

[8 rows x 7 columns]

In [ ]:
df.describe(include ="object")

       Area_unit_2013_label  ... Region_2013_label
count                  2020  ...              2020
unique                 2020  ...                17
top             Bare Island  ...   Auckland Region
freq                      1  ...               437

[4 rows x 7 columns]

# Filtering Columns


> column base


> row base

In [ ]:
df= df[(df['Area_unit_2013_code']!="null")]

df[['Area_unit_2013_code','Population_mid_point_2015']]

      Area_unit_2013_code  Population_mid_point_2015
0                  514102                      15900
1                  573101                       8300
2                  529700                       3170
3                  514103                      13250
4                  591500                        570
...                   ...                        ...
2015               506653                       3510
2016               610601                       3590
2017               536513                       3590
2018               574302                       4020
2019               527007                       5440

[2020 rows x 2 columns]

In [ ]:
df.Area_unit_2013_code.unique()

array([514102, 573101, 529700, ..., 536513, 574302, 527007])

In [ ]:
victs = df.Victimisations_calendar_year_2015
popMid = df.Population_mid_point_2015

df[(victs >= victs.mean()) &(popMid < popMid.mean())].shape

(111, 14)

# iloc indexing

In [ ]:
# row 5
df.iloc[4]

# row 5 column 1
df.iloc[4,0]

# rows from 5 to 10
df.iloc[4:11]

    Index  Area_unit_2013_code  ... Region_2013_code         Region_2013_label
4       5               591500  ...               13         Canterbury Region
5       6               514101  ...                2           Auckland Region
6       7               524604  ...                2           Auckland Region
7       8               562800  ...                8  Manawatu-Wanganui Region
8       9               540410  ...                4      Bay of Plenty Region
9      10               538201  ...                4      Bay of Plenty Region
10     11               603100  ...               14              Otago Region

[7 rows x 14 columns]

# loc indexing

In [ ]:
dfCopy = df.copy()
dfCopy.set_index('Area_unit_2013_label',inplace = True)
dfCopy.head()

                                 Index  ...  Region_2013_label
Area_unit_2013_label                    ...
Auckland Central West                1  ...    Auckland Region
Willis Street-Cambridge Terrace      2  ...  Wellington Region
Hamilton Central                     3  ...     Waikato Region
Auckland Central East                4  ...    Auckland Region
Cathedral Square                     5  ...  Canterbury Region

[5 rows x 13 columns]

# Update


> drop rows
> add new column
> condition based updating using apply

In [ ]:
# drop rows with null value
df.dropna(inplace= True)
df.isnull().sum()

Index                                    0
Area_unit_2013_code                      0
Area_unit_2013_label                     0
Victimisations_calendar_year_2015        0
Population_mid_point_2015                0
 Rate_per_10000_population               0
 Rate_ratio_NZ_average_rate              0
Urban_area_2013_code                     0
Urban_area_2013_label                    0
Urban_area_type                          0
Territorial_authority_area_2013_code     0
Territorial_authority_area_2013_label    0
Region_2013_code                         0
Region_2013_label                        0
dtype: int64

In [ ]:
dfCopy.drop('Urban_area_type',axis = 1)

                                 Index  ...     Region_2013_label
Area_unit_2013_label                    ...
Auckland Central West                1  ...       Auckland Region
Willis Street-Cambridge Terrace      2  ...     Wellington Region
Hamilton Central                     3  ...        Waikato Region
Auckland Central East                4  ...       Auckland Region
Cathedral Square                     5  ...     Canterbury Region
...                                ...  ...                   ...
Riverhead                         2016  ...       Auckland Region
Grasmere                          2017  ...      Southland Region
Bethlehem East                    2018  ...  Bay of Plenty Region
Te Kainga                         2019  ...     Wellington Region
Horsham Downs                     2020  ...        Waikato Region

[2020 rows x 12 columns]

In [ ]:
df['New column'] = df.
df.head()

In [ ]:
df[] = df[].apply(lambda x: 1 if x else 0)

# Delete/Ouptut


> Output to csv

> Output to json

> Output to html

> Delete a data frame

In [ ]:
df.to_csv('output.csv')

df.to_json()

In [ ]:
df.to_html()

In [ ]:
del df